- if @ticket.errors.any?
  %ul
    - @ticket.errors.full_messages.each do |message|
      %li= message

= simple_form_for @ticket, html: {class: "form-horizontal"} do |f|
  = f.input :title, label: "ticket title"
  = f.input :body, label: "ticket body"
  = f.submit (@ticket.persisted? ? "Update" : "Save")