/ Modal
/ Button trigger modal
%button.btn.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal"}
  New Ticket
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} x
        %h4#myModalLabel.modal-title Create a New Ticket
      .modal-body
        = simple_form_for @ticket, html: {class: "form-horizontal"}, remote: true do |f|
          = f.input :title, label: "ticket title"
          = f.input :body, label: "ticket description"
          = f.submit (@ticket.persisted? ? "Update" : "Save")
%h1 Listing all the tickets
.ticket-container
  - @tickets.each do |ticket|
    %div{id: dom_id(ticket)}
      %h2= link_to ticket.title, ticket
      / default will be ticket_path if we pass in ticket
      %p= ticket.body
      %p
        Created On: #{formatted_date(ticket.created_at)}
      %p
        Updated On: #{formatted_date(ticket.updated_at)}
      - if ticket.status
        %p= button_to "Mark Un-Resolved", ticket_path(ticket, :ticket => { :status => 0 }, page: "index"), method: :patch, remote: true, class: "btn btn-danger btn-status"
      - else
        %p= button_to "Mark Resolved", ticket_path(ticket, :ticket => { :status => 1 }, page: "index"), method: :patch, remote: true, class: "btn btn-success btn-status"
      %hr/
  